@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.candidateCard-container {
  min-height: 38rem;
  width: 28rem;
  background-color: rgba(245, 245, 245, 0.15);
  border-radius: getBorder(card);
  display: flex;
  flex-direction: column-reverse;
  color: white;
  overflow: hidden;
}

.moreInfo-container {
  height: 15%;
  padding: 1.5rem;
  background-color: getColor(primary);
  @include center;
}

.buttonMore-info {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: getBorder(round);
  height: 2.75rem;
  width: 2.75rem;
  color: getColor(tertiary);

  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  @include center;
}

.mainContent-container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photo-container {
  width: 100%;
  @include center;
}

.buttonSmile-photo {
  margin: 2rem;
  background-color: getColor(primary);
  border-radius: getBorder(round);
  height: 5rem;
  width: 5rem;

  @include center;
}

.photo-icon {
  height: 2rem;
}

.section-info {
  margin-bottom: 2.5rem;
}

.info-container {
  padding: 0 1.5rem;

  &-title {
    font-size: getFontSize(xs);
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline getColor(primary);
  }

  &-content {
    color: getColor(tertiary);
    font-size: getFontSize(xs);
    background-color: rgba(0, 0, 0, 0.355);
    padding: 1rem;
    border-radius: getBorder(input);
    margin: 1rem;
  }
}
