@import "../../styles/utils/variables";

.candidatesList-container {
  margin: 3rem;
  padding: 3rem;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: getBorder(card);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}
