@import "../../styles/utils/variables";

.candidatesList-container {
  margin-top: 5rem;
  padding: 3.5rem 2rem;
  width: 85%;
  width: 85%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: getBorder(card);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.75rem;

  max-width: 170rem;
}
