$colors: (
  primary: #fad502,
  secondary: #000000,
  tertiary: #f7f7f7,
  quaternary: #ffffff,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem,
);

@function getFontSize($size) {
  @return map-get($font-sizes, $size);
}

$border-proportions: (
  round: 50%,
  card: 0.8rem,
  input: 0.5rem,
);

@function getBorder($proportions) {
  @return map-get($border-proportions, $proportions);
}
